{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Pictweet</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header class="header">
    <div class="header__bar row">
      <h1 class="grid-6"><a href="/">PicTweet</a></h1>
      {% if user.is_authenticated %}
        <div class="user_nav grid-6">
          <span>{{ user.nickname }}
            <ul class="user__info">
                <li>
                  <a href="{% url 'users:mypage'  user.pk%}">マイページ</a>
                  <a href="{% url 'users:logout' %}">ログアウト</a>
                </li>
            </ul>
          </span>
          <a class="post" href="{% url 'Tweets:create' %}">投稿する</a>
        </div>
      {% else %}
        <div class="grid-6">
          <a class="post" href={% url "users:sign_in" %}>ログイン</a>
          <a class="post" href={% url "users:sign_up" %}>新規登録</a>
        </div>
      {% endif %}
    </div>
    </header>
  {% block content %}{% endblock content %}
</body>
</html>